<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn animated">
                <h2 class="mt-5 mb-3 h2 text-center">Nuestros Productos</h2>
                <a class="btn btn-primary btn-rounded" href="/products/create">Agregar Producto</a>
                <section class="text-center mt-2 mb-4">
                    <div class="row wow fadeIn">
                        <% products.forEach( prod=> { %>
                            <%- include('../partials/product' ,{prod}) %>
                                <% } ) %>
                    </div>
                </section>


            </div>

        </main>
        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
                <script src="/js/cart.js"></script>
</body>

</html>