<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../partials/header') %>
    <%- include('../partials/header') %>
      <main class="my-5 pt-4 login">
        <div class="card shadow my-5" style="min-width: 300px;">
          <form class="card-body" action="/register" method="POST">
            <h2 class="mt-3 h2 text-center">Registrarse</h2>
            <div class="md-form">

              <input type="text" name="email" id="email" value="<%= locals.olds && olds.email ? olds.email : '' %>"
                class="form-control">
              <label for="email">Email</label>
              <% if (locals.errors && errors.email) { %>
                <span>
                  <%= errors.email.msg %>
                </span>
                <% } %>
            </div>
            <div class="md-form">
              <input type="password" name="password" id="password" class="form-control">
              <label for="password">Password</label>
              <% if (locals.errors && errors.password) { %>
                <span>
                  <%= errors.password.msg %>
                </span>
                <% } %>
            </div>
            <div class="md-form">
              <input type="password" name="confirm-password" id="confirm-password" class="form-control">
              <label for="confirm-password">Confirm Pass</label>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block waves-effect waves-light" type="submit">Registrarse</button>

          </form>
        </div>
      </main>
      <%- include('../partials/footer') %>
        <%- include('../partials/scripts') %>
</body>

</html>